

.word{
 text-decoration: none;
 font-family: 'M PLUS 1', sans-serif;
 font-weight: 900;
}
.words{
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 900;
}

.bac{
    background-color: rgb(29, 29, 82);
   
}